body{
    margin: 0;
}
.top_section{
    background-color: #e0e1dd;
    border-bottom: 2px solid #003566;
}

.main_heading{
    font-family: 'Staatliches', cursive;
    letter-spacing: 10px;
    color: #003566;
    background-color: #e0e1dd;
}

nav.navbar{
    background-color: #e0e1dd   ;
}
a.nav-link{
    color: #003566;
    font-family: Poppins;
}
a.nav-link:hover{
    border-bottom: 2px solid #003566;
    transition: .1s ease-in;
    color: black;
}
.head_section{
    background-color: #e0e1dd;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 9px solid #003566;
}
.about_me{
    color: #003566;
}
.line{
    width:80%;
}

span{
    color: #003566;
}
.about_mepara{
    color: black;
    font-family: Poppins;
}
.hero_section{
    /* background-color: #e0e1dd; */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 7px solid #003566;
}
.Problam{
    font-family: 'Staatliches', cursive;
    color: #003566;
}
.history{
    color: #003566;
}

.software_section{
    background-color: #e0e1dd;
}

.tools{
    color: #003566;
}
.education_head,.certificate_head,.software_head{
    font-family: 'Staatliches', cursive;
    color: #003566;
}
.school_description,.duration_description,.location_description,.list_description,.credential_id,.project-description{
    font-family: Poppins;
}
.degree_description,.list_description{
    letter-spacing: 2px;
    color: #003566;
}
.tech_description{
    list-style: none;
}
.tech_items{
    font-family: Poppins; 
}
.tech_items:hover{
    background-color: #003566;
    color: white;
    transition: .3s ease-in;
}

img{
    width: 450px;
    height: 250px;
    border: 1px solid #003566;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer_section{
    background-color: #003566;
}
.footer_head{
    color: #e0e1dd;
}
.footer_list{
    list-style: none;
}
i{
    color: white;
}
.fa-facebook-square,.fa-instagram,.fa-twitter,.fa-github,.fa-linkedin{
    padding: 8px;
    border: 1px solid whitesmoke;
    margin: 0px 2px;
    border-radius: 50px;
}
.fa-facebook-square:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-github:hover,.fa-linkedin:hover{
color: #0C134F;
background-color: whitesmoke;
transition: .2s ease-in;
}

.footer_para_FD{
    color: #e0e1dd;
}